---
layout: default
---
{% block jumbo %}
    <section class="jumbo">
        <h1 class="ir">Boogio</h1>
    </section>
{% endblock %}

{% block content %}
<div class="index-page">
    <div class="tagline">
        <span>Make Your Move</span>
    </div>

    <p>
        See a pair at the <a title="Seattle Interactive Conference" href="http://www.seattleinteractive.com">Seattle Interactive Conference</a> from October 28-30.
    </p>

    <div class="social-media">
        <ul class="nav nav-pills">
            <li><a title="@reflxlabs" href="https://twitter.com/wearboogio"><i class="icon icon-twitter"></i></a></li>
        </ul>
    </div>
</div>
{% endblock %}
