---
layout: default
---
{% block jumbo %}
    <section class="jumbo">
        <h1 class="ir">Boogio</h1>
    </section>
{% endblock %}

{% block content %}
<div class="index-page">
    <div class="tagline">
        <span>Make Your Move</span>
    </div>

    <p>
        We'll be at <a title="CES" href="http://www.cesweb.org/">CES 2014</a>. Will you?
    </p>

    <div class="social-media">
        <ul class="nav nav-pills">
            <li><a title="@wearboogio" href="https://twitter.com/wearboogio"><i class="icon icon-twitter"></i></a></li>
            <li><a title="Lie us on Facebook" href="https://facebook.com/wearboogio"><i class="icon icon-facebook"></i></a></li>
        </ul>
    </div>

    <p>
        <br>
        <strong>October 28th, 2013</strong><br>
        <a title="REFLX Labs debuts Boogio wearable technology at SIC 2013 (10/28/2013)" href="http://reflxlabsinc.com/press/2013/10/28/REFLX_Boogio_PressRelease_102813/">REFLX Labs debuts Boogio wearable technology at SIC 2013</a>
    </p>
</div>
{% endblock %}
